:root {
  --bg-color:#2C3E50;
  --primary-color: var(--bg-color);
  --secondary-color: #F5F5DC;
  --text-color: var(--secondary-color);
  --text-color-2: var(--text-color);
  --text-color-3: #C00;
  --overlay-color: rgba(12,12,12,.63);
}

[data-theme="light"] {
  --bg-color: #F5F5DC;
  --primary-color: var(--bg-color);
  --secondary-color: #2C3E50;
  --text-color: var(--secondary-color);
  --text-color-2: var(--text-color);
  --overlay-color: rgba(255,255,255,.7);
}

html,body {
  height:100%;
  margin:0;
  font-family:'Raleway',sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

body {
  overflow-x:hidden;
  background:var(--bg-color);
  color:var(--text-color);
  padding-top:60px;
  border:10px solid var(--primary-color);
  border-width:0 10px;
}

ul {
  list-style:none;
  padding:0;
  margin:0;
}

h1,h2,h3,h4,h5,h6 {
  font-family:Marcellus,serif;
}

a {
  color:var(--text-color);
  text-decoration:none;
}

a:hover {
  color:var(--text-color);
}

p {
  word-break:break-word;
  hyphens:auto;
}

.ovhidden {
  overflow:hidden;
}

.text_2,.text_2:hover {
  color:var(--text-color-2);
}

code {
  font-family:source-code-pro,Menlo,Monaco,Consolas,'Courier New',monospace;
}

.cursor__dot div {
  z-index:999999!important;
}

.cursor__dot div:last-child {
  background:var(--text-color-3)!important;
}

.cursor__dot div:first-child {
  filter:invert(1);
  background:var(--overlay-color)!important;
}

.color_pr {
  color:var(--primary-color)!important;
}

.color_sec {
  color:var(--secondary-color);
}